.u-section-1 {
    background-image: linear-gradient(0deg, rgba(204, 209, 229, 0.8), rgba(204, 209, 229, 0.8)), url("../images/546076_2.png");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 470px;
}

.u-section-1 .u-text-1 {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    margin: 178px 48px 60px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 388px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 297px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 223px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 140px;
    }
}

.u-section-2 {
    background-image: none;
    min-height: 1122px;
}

.u-section-2 .u-shape-1 {
    height: 565px;
    margin-top: 1px;
    margin-bottom: 0;
}

.u-section-2 .u-text-1 {
    margin: -553px 123px 0;
}

.u-section-2 .u-list-1 {
    width: 1140px;
    margin: 29px auto 17px;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    min-height: 894px;
    grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
    background-image: none;
}

.u-section-2 .u-container-layout-1 {
    padding: 23px 0;
}

.u-section-2 .u-image-1 {
    height: 221px;
    width: 309px;
    margin: 0 31px 0 26px;
}

.u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-style: italic;
    margin: 13px 35px 0 29px;
}

.u-section-2 .u-container-layout-2 {
    padding: 23px 0;
}

.u-section-2 .u-image-2 {
    height: 221px;
    width: 309px;
    margin: 0 31px 0 26px;
}

.u-section-2 .u-text-3 {
    font-size: 1.25rem;
    font-style: italic;
    margin: 13px 35px 0 29px;
}

.u-section-2 .u-container-layout-3 {
    padding: 23px 0;
}

.u-section-2 .u-image-3 {
    height: 221px;
    width: 309px;
    margin: 0 31px 0 26px;
}

.u-section-2 .u-text-4 {
    font-size: 1.25rem;
    font-style: italic;
    margin: 13px 35px 0 29px;
}

.u-section-2 .u-container-layout-4 {
    padding: 23px 0;
}

.u-section-2 .u-image-4 {
    height: 221px;
    width: 309px;
    margin: 0 31px 0 26px;
}

.u-section-2 .u-text-5 {
    font-size: 1.25rem;
    font-style: italic;
    margin: 13px 35px 0 29px;
}

.u-section-2 .u-container-layout-5 {
    padding: 23px 0;
}

.u-section-2 .u-image-5 {
    height: 221px;
    width: 309px;
    margin: 0 31px 0 26px;
}

.u-section-2 .u-text-6 {
    font-size: 1.25rem;
    font-style: italic;
    margin: 13px 35px 0 29px;
}

.u-section-2 .u-container-layout-6 {
    padding: 23px 0;
}

.u-section-2 .u-image-6 {
    height: 221px;
    width: 309px;
    margin: 0 31px 0 26px;
}

.u-section-2 .u-text-7 {
    font-size: 1.25rem;
    font-style: italic;
    margin: 13px 35px 0 29px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-list-1 {
        width: 940px;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
        min-height: 737px;
    }

    .u-section-2 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-text-3 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-text-4 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-text-5 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-text-6 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-text-7 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-list-1 {
        width: 720px;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 9.999975px));
        min-height: 1270px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-list-1 {
        width: 540px;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-text-1 {
        margin-right: 77px;
        margin-left: 77px;
    }

    .u-section-2 .u-list-1 {
        width: 340px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-1 {
        margin-right: 18px;
        margin-left: 13px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-2 {
        margin-right: 18px;
        margin-left: 13px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-3 {
        margin-right: 18px;
        margin-left: 13px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-4 {
        margin-right: 18px;
        margin-left: 13px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-5 {
        margin-right: 18px;
        margin-left: 13px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-6 {
        margin-right: 18px;
        margin-left: 13px;
    }
}