.u-section-1 {
    background-image: linear-gradient(0deg, rgba(1, 19, 84, 0.65), rgba(1, 19, 84, 0.65)), url("../images/s-9d3101374e5bbefac1974b122d0573620d1d34f3.gif");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 1258px;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    width: 801px;
    margin: 33px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 378px;
}

.u-section-1 .u-container-layout-1 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.u-section-1 .u-icon-1 {
    height: 75px;
    width: 75px;
    background-image: none;
    margin: 0 auto 0 0;
    padding: 16px;
}

.u-section-1 .u-text-2 {
    margin: 23px auto 0 0;
}

.u-section-1 .u-text-3 {
    line-height: 1.8;
    font-style: italic;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 17px 0 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 576px;
}

.u-section-1 .u-container-layout-2 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.u-section-1 .u-icon-2 {
    height: 75px;
    width: 75px;
    background-image: none;
    margin: 0 auto 0 0;
    padding: 16px;
}

.u-section-1 .u-text-4 {
    margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
    line-height: 1.8;
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
    min-height: 339px;
}

.u-section-1 .u-container-layout-3 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.u-section-1 .u-icon-3 {
    height: 75px;
    width: 75px;
    background-image: none;
    margin: 0 auto 0 0;
    padding: 16px;
}

.u-section-1 .u-text-6 {
    margin: 23px auto 0 0;
}

.u-section-1 .u-text-7 {
    line-height: 1.8;
    font-style: italic;
    font-weight: 700;
    margin: 17px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
    min-height: 577px;
    background-image: none;
}

.u-section-1 .u-container-layout-4 {
    padding: 0;
}

.u-section-1 .u-image-1 {
    width: 298px;
    height: 180px;
    margin: 23px auto 0 17px;
}

.u-section-1 .u-image-2 {
    width: 278px;
    height: 208px;
    margin: -194px 27px 0 auto;
}

.u-section-1 .u-image-3 {
    width: 278px;
    height: 321px;
    margin: 0 auto 0 17px;
}

.u-section-1 .u-image-4 {
    width: 317px;
    height: 280px;
    margin: -280px 7px 0 auto;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 851px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 587px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 378px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 522px;
    }

    .u-section-1 .u-layout-cell-4 {
        min-height: 476px;
    }

    .u-section-1 .u-image-2 {
        height: 209px;
        margin-top: 20px;
    }

    .u-section-1 .u-image-3 {
        height: 322px;
    }

    .u-section-1 .u-image-4 {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 512px;
    }

    .u-section-1 .u-text-1 {
        width: 720px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-icon-2 {
        margin-left: 11px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-4 {
        min-height: 365px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 889px;
    }

    .u-section-1 .u-text-1 {
        width: 540px;
    }

    .u-section-1 .u-layout-cell-4 {
        min-height: 483px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 621px;
    }

    .u-section-1 .u-text-1 {
        width: 340px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-layout-cell-4 {
        min-height: 304px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 522px;
}

.u-section-2 .u-image-1 {
    width: 336px;
    height: 420px;
    margin: 17px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
    width: 786px;
    margin: -420px auto 0 0;
}

.u-section-2 .u-image-2 {
    min-height: 432px;
    background-image: url("../images/photo_2022-07-12_00-03-14-javlonrayimbaev1.jpg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 27px;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 432px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin: 33px auto 0;
}

.u-section-2 .u-text-2 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 49px 1px 0;
}

.u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin: 64px 0 0;
}

.u-section-2 .u-btn-1 {
    border-style: solid;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    font-size: 1rem;
    margin: 17px 316px 0 auto;
    padding: 10px 28px 10px 27px;
}

.u-section-2 .u-btn-2 {
    border-style: solid;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    font-size: 1rem;
    margin: -49px 0 19px auto;
    padding: 10px 50px 12px 49px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 521px;
    }

    .u-section-2 .u-image-1 {
        height: 419px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -419px;
    }

    .u-section-2 .u-text-2 {
        width: 256px;
    }

    .u-section-2 .u-btn-1 {
        margin-right: 116px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 557px;
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-2 .u-image-2 {
        min-height: 396px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-2 .u-text-2 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-2 .u-btn-1 {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1157px;
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-2 .u-image-2 {
        min-height: 775px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 778px;
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 340px;
    }

    .u-section-2 .u-image-2 {
        min-height: 488px;
    }

    .u-section-2 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-2 .u-text-2 {
        font-size: 1.5rem;
    }
}

.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 698px;
}

.u-section-3 .u-layout-wrap-1 {
    width: 1042px;
    margin: 60px auto 0;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 314px;
}

.u-section-3 .u-container-layout-1 {
    padding: 30px;
}

.u-section-3 .u-image-1 {
    width: 182px;
    height: 182px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 314px;
}

.u-section-3 .u-container-layout-2 {
    padding: 30px;
}

.u-section-3 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 0;
}

.u-section-3 .u-text-2 {
    margin-bottom: 0;
    margin-top: 20px;
}

.u-section-3 .u-btn-1 {
    border-style: none none solid;
    margin: 20px auto 0 0;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-2 {
    border-style: none none solid;
    margin: -27px auto 0 72px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-3 {
    border-style: none none solid;
    margin: -27px auto 0 144px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-4 {
    border-style: none none solid;
    margin: -27px auto 0 216px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-5 {
    border-style: none none solid;
    margin: -27px auto 0 288px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-6 {
    border-style: none none solid;
    margin: -27px 327px 0 auto;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-7 {
    border-style: none none solid;
    margin: -27px 255px 0 auto;
    padding: 0 1px 0 0;
}

.u-section-3 .u-layout-cell-3 {
    min-height: 180px;
}

.u-section-3 .u-container-layout-3 {
    padding: 30px;
}

.u-section-3 .u-image-2 {
    height: auto;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
    background-position: 50% 50%;
    margin: 0 auto 0 20px;
}

.u-section-3 .u-layout-cell-4 {
    min-height: 324px;
}

.u-section-3 .u-container-layout-4 {
    padding: 30px;
}

.u-section-3 .u-text-3 {
    margin: 0;
}

.u-section-3 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-8 {
    border-style: none none solid;
    margin: 49px auto 0 0;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-9 {
    border-style: none none solid;
    margin: -29px auto 0 72px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-10 {
    border-style: none none solid;
    margin: -27px auto 0 144px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-11 {
    border-style: none none solid;
    margin: -27px auto 0 216px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-12 {
    border-style: none none solid;
    margin: -27px auto 0 288px;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-13 {
    border-style: none none solid;
    margin: -28px 327px 0 auto;
    padding: 0 1px 0 0;
}

.u-section-3 .u-btn-14 {
    border-style: none none solid;
    margin: -27px 255px 0 auto;
    padding: 0 1px 0 0;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 487px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 283px;
    }

    .u-section-3 .u-image-1 {
        width: 300px;
        height: 300px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 283px;
    }

    .u-section-3 .u-btn-2 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-3 {
        margin-left: 66px;
    }

    .u-section-3 .u-btn-4 {
        margin-left: 138px;
    }

    .u-section-3 .u-btn-5 {
        margin-left: 210px;
    }

    .u-section-3 .u-btn-6 {
        margin-right: 249px;
    }

    .u-section-3 .u-btn-7 {
        margin-right: 177px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 162px;
    }

    .u-section-3 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-3 .u-layout-cell-4 {
        min-height: 292px;
    }

    .u-section-3 .u-btn-9 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-10 {
        margin-left: 66px;
    }

    .u-section-3 .u-btn-11 {
        margin-left: 138px;
    }

    .u-section-3 .u-btn-12 {
        margin-left: 210px;
    }

    .u-section-3 .u-btn-13 {
        margin-right: 249px;
    }

    .u-section-3 .u-btn-14 {
        margin-right: 177px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 373px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-3 .u-image-1 {
        width: 216px;
        height: 216px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-3 .u-btn-3 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-4 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-5 {
        margin-left: 41px;
    }

    .u-section-3 .u-btn-6 {
        margin-right: 80px;
    }

    .u-section-3 .u-btn-7 {
        margin-right: 8px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 124px;
    }

    .u-section-3 .u-layout-cell-4 {
        min-height: 100px;
    }

    .u-section-3 .u-btn-10 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-11 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-12 {
        margin-left: 41px;
    }

    .u-section-3 .u-btn-13 {
        margin-right: 80px;
    }

    .u-section-3 .u-btn-14 {
        margin-right: 8px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1399px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 399px;
    }

    .u-section-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 955px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 340px;
    }

    .u-section-3 .u-btn-5 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-6 {
        margin-right: 0;
    }

    .u-section-3 .u-btn-7 {
        margin-right: 0;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 251px;
    }

    .u-section-3 .u-btn-12 {
        margin-left: 0;
    }

    .u-section-3 .u-btn-13 {
        margin-right: 0;
    }

    .u-section-3 .u-btn-14 {
        margin-right: 0;
    }
}

.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 638px;
}

.u-section-4 .u-layout-wrap-1 {
    width: 1042px;
    margin: 0 auto;
}

.u-section-4 .u-layout-cell-1 {
    min-height: 314px;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px;
}

.u-section-4 .u-image-1 {
    width: 182px;
    height: 182px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
    min-height: 314px;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-section-4 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 0;
}

.u-section-4 .u-text-2 {
    margin-bottom: 0;
    margin-top: 20px;
}

.u-section-4 .u-btn-1 {
    border-style: none none solid;
    margin: 20px auto 0 0;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-2 {
    border-style: none none solid;
    margin: -27px auto 0 72px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-3 {
    border-style: none none solid;
    margin: -27px auto 0 144px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-4 {
    border-style: none none solid;
    margin: -27px auto 0 216px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-5 {
    border-style: none none solid;
    margin: -27px auto 0 288px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-6 {
    border-style: none none solid;
    margin: -27px 327px 0 auto;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-7 {
    border-style: none none solid;
    margin: -27px 255px 0 auto;
    padding: 0 1px 0 0;
}

.u-section-4 .u-layout-cell-3 {
    min-height: 180px;
}

.u-section-4 .u-container-layout-3 {
    padding: 30px;
}

.u-section-4 .u-image-2 {
    height: auto;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
    background-position: 50% 50%;
    margin: 0 auto 0 20px;
}

.u-section-4 .u-layout-cell-4 {
    min-height: 324px;
}

.u-section-4 .u-container-layout-4 {
    padding: 30px;
}

.u-section-4 .u-text-3 {
    margin: 0;
}

.u-section-4 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-4 .u-btn-8 {
    border-style: none none solid;
    margin: 49px auto 0 0;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-9 {
    border-style: none none solid;
    margin: -29px auto 0 72px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-10 {
    border-style: none none solid;
    margin: -27px auto 0 144px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-11 {
    border-style: none none solid;
    margin: -27px auto 0 216px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-12 {
    border-style: none none solid;
    margin: -27px auto 0 288px;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-13 {
    border-style: none none solid;
    margin: -28px 327px 0 auto;
    padding: 0 1px 0 0;
}

.u-section-4 .u-btn-14 {
    border-style: none none solid;
    margin: -27px 255px 0 auto;
    padding: 0 1px 0 0;
}

@media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
        min-height: 487px;
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-4 .u-layout-cell-1 {
        min-height: 283px;
    }

    .u-section-4 .u-image-1 {
        width: 300px;
        height: 300px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 283px;
    }

    .u-section-4 .u-btn-2 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-3 {
        margin-left: 66px;
    }

    .u-section-4 .u-btn-4 {
        margin-left: 138px;
    }

    .u-section-4 .u-btn-5 {
        margin-left: 210px;
    }

    .u-section-4 .u-btn-6 {
        margin-right: 249px;
    }

    .u-section-4 .u-btn-7 {
        margin-right: 177px;
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 162px;
    }

    .u-section-4 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 292px;
    }

    .u-section-4 .u-btn-9 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-10 {
        margin-left: 66px;
    }

    .u-section-4 .u-btn-11 {
        margin-left: 138px;
    }

    .u-section-4 .u-btn-12 {
        margin-left: 210px;
    }

    .u-section-4 .u-btn-13 {
        margin-right: 249px;
    }

    .u-section-4 .u-btn-14 {
        margin-right: 177px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 373px;
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-4 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-4 .u-image-1 {
        width: 216px;
        height: 216px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-4 .u-btn-3 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-4 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-5 {
        margin-left: 41px;
    }

    .u-section-4 .u-btn-6 {
        margin-right: 80px;
    }

    .u-section-4 .u-btn-7 {
        margin-right: 8px;
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 124px;
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 100px;
    }

    .u-section-4 .u-btn-10 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-11 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-12 {
        margin-left: 41px;
    }

    .u-section-4 .u-btn-13 {
        margin-right: 80px;
    }

    .u-section-4 .u-btn-14 {
        margin-right: 8px;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
        min-height: 1399px;
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 399px;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 955px;
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 340px;
    }

    .u-section-4 .u-btn-5 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-6 {
        margin-right: 0;
    }

    .u-section-4 .u-btn-7 {
        margin-right: 0;
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 251px;
    }

    .u-section-4 .u-btn-12 {
        margin-left: 0;
    }

    .u-section-4 .u-btn-13 {
        margin-right: 0;
    }

    .u-section-4 .u-btn-14 {
        margin-right: 0;
    }
}