 .u-section-1 {
  min-height: 434px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/image40.png");
  background-position: 50% 50%;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 928px);
  left: 0;
  background-image: linear-gradient(to right, #011354, rgba(227,53,60,0));
  right: auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 433px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 928px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 336px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 33px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1681px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 60px;
  margin-bottom: 24px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 7px) calc(50% - 7px);
  min-height: 1597px;
  grid-gap: 14px 14px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 202px;
  height: 202px;
  object-position: 50% 100%;
  background-image: url("../images/image42.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  width: 202px;
  height: 202px;
  background-image: url("../images/image43.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-image-3 {
  width: 202px;
  height: 202px;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-3 .u-image-4 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-5 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-3 .u-image-5 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/image44.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-5 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-10 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-6 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-3 .u-image-6 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-6 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-12 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-7 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-3 .u-image-7 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-7 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-14 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-14 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-8 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-3 .u-container-layout-15 {
  padding: 0 30px;
}

.u-section-3 .u-image-8 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-8 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-16 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-16 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-9 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-3 .u-container-layout-17 {
  padding: 0 30px;
}

.u-section-3 .u-image-9 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-9 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-18 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-18 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-10 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-3 .u-container-layout-19 {
  padding: 0 30px;
}

.u-section-3 .u-image-10 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-10 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-20 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-20 {
  font-style: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-list-item-11 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-3 .u-container-layout-21 {
  padding: 0 30px;
}

.u-section-3 .u-image-11 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("../images/6611da96effe6979171d3a2d164584b1ec2e5499e601f006b0b0ce6f749d209006fc77c594899e88ef876b83a6f1c31f59faf8c50d902d595cdd76_1280.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-11 {
  width: 255px;
  min-height: 217px;
  height: auto;
  margin: -221px 0 0 auto;
}

.u-section-3 .u-container-layout-22 {
  padding: 0 0 8px 25px;
}

.u-section-3 .u-text-21 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-22 {
  font-style: normal;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1326px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }

  .u-section-3 .u-group-8 {
    height: auto;
  }

  .u-section-3 .u-group-9 {
    height: auto;
  }

  .u-section-3 .u-group-10 {
    height: auto;
  }

  .u-section-3 .u-group-11 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-22 {
    padding-left: 10px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-5,
.u-section-3 .u-list-item-5:before,
.u-section-3 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-6,
.u-section-3 .u-list-item-6:before,
.u-section-3 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-7,
.u-section-3 .u-list-item-7:before,
.u-section-3 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-8,
.u-section-3 .u-list-item-8:before,
.u-section-3 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-9,
.u-section-3 .u-list-item-9:before,
.u-section-3 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-10,
.u-section-3 .u-list-item-10:before,
.u-section-3 .u-list-item-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-11,
.u-section-3 .u-list-item-11:before,
.u-section-3 .u-list-item-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}